
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}


.topo {
    background-color: #ff5722;
    color: white;
    text-align: center;
    padding: 20px;
}


.conteudo {
    max-width: 700px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
}

h2, h3 {
    color: #111;
    margin-top: 20px;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

/* Destaca as gírias em negrito */
strong {
    color: #2273ff;
}

.bloco-foto {
    text-align: center;
    margin: 15px 0;
}

.bloco-foto img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}